html, body {
    margin: 0px;
    background-color: #282c34;
    color: white;
}


.content {

    width: 100%;
    border: 1px solid;
}

.left {

    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: grey solid 1px;
    height: 500px;

}

.right {

    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: grey solid 1px;
    height: 500px;
    
}

#puntos1, #puntos2 {
    font-size: 100px;
    padding-left: 40px;
    color: #2A952C;

} 

h3 {
    color: khaki;
}

#leyendaPuntosVida1, #leyendaPuntosVida2{
    font-size: 25px;
    padding-top: 10px;

}

#pokemon1, #pokemon2 {
    font-size: 40px;
}

.margen {
    margin: 5px;
    background-color: khaki;
    border-color: khaki;
}

#poderes1, #poderes2 {

    background-color: #2A952C;
    border-color: #2A952C;
}